body{
    margin: 40px;
    background-color: rgb(0, 0, 41);
    font-family: "Outfit", sans-serif;
    color: white;
}

.section{
    margin: 40px 0;
}

.back a{
    text-decoration: none;
    color: rgb(255, 217, 0);
    font-size: 26px;
}

.main-img-section{
    margin-top: -20px;
    width: 800px;
    height: 500px;
}
.main-img-section img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
