body{
    background-color: rgb(0, 0, 41);
    font-family: "Outfit", sans-serif;
    color: white;
}

.section{
    margin: 60px 20px;
}

.navbar{
    width: 100%;
    padding: 20px 0px;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.navbar-links{
    display: flex;
    gap: 20px;
    padding: 0 30px;
}
.navbar-links a{
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 16px;
    display: flex;
    gap: 6px;
    align-items: center;
}
.navbar a:hover{
    color: rgb(255, 217, 0);
    background-color: rgb(0, 0, 41);
    transform: translateY(-2px);
    box-shadow: 2px 2px 10px rgba(0, 0, 41, 0.3); 
}
.link{
    color: rgb(0, 0, 41);
}
.active{
    color: rgb(255, 217, 0);
    background-color: rgb(0, 0, 41);
}

.links-gerais{
    justify-self: start;
    display: flex;
    gap: 10px;
}
.link-login{
    display: flex;
    margin-left: 20px;
}

.title-section{
    text-align: center;
}
.title-section h1{
    font-size: 90px;
    margin-bottom: -5px;
}
.title-section h2{
    font-size: 24px;
    color: rgb(255, 217, 0);
}
.main-title{
    display: flex;
    gap: 20px;
    justify-self: center;
}
.main-title img{
    height: 150px;
}
.products-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    width: 100%;
    gap: 20px;
}
.product{
    padding: 30px 30px 60px 30px;
    background-color: white;
    width: 80%;
    max-width: 500px;
    color: rgb(0, 0, 41);
}
.product:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 0px rgb(255, 217, 0); 
}
.image{
    height: 300px;
    border-radius: 12px;
}
.product img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.product h3{
    font-size: 25px;
}
.product a{
    margin-top: -20px;
    margin-left: 2px;
    text-decoration: none;
    color: rgb(0, 0, 41);
}
