.back a{
    font-size: 22px;
    top: 10px ;
    text-decoration: none;
    color:darkgoldenrod ;
}

.item{
    display:flex;
    align-items:center;
    gap: 30px;
    font-size:30px ;
}

#carrinho {
    display: grid;
    grid-template-columns: 1fr  1fr;
    gap: 20px;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imagem {
    height:100px ;
    width:200px ;

}

.botao {
    background-color:darkgoldenrod;
    padding:1px 7px;
    display: flex;
    align-items: center;
}

.x {
    color: rgb(19, 64, 189);
}