body{
    margin: 40px;
    background-color: rgb(0, 0, 41);
    font-family: "Outfit", sans-serif;
    color: white;
}

.section{
    margin: 60px 0;
}
.title-section{
    text-align: center;
}
.title-section h1{
    font-size: 90px;
    margin-bottom: -5px;
}
.title-section h2{
    font-size: 24px;
    color: rgb(255, 217, 0);
}
.main-title{
    display: flex;
    gap: 20px;
    justify-self: center;
}
.main-title img{
    height: 150px;
}
.products-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    width: 100%;
    gap: 20px;
}
.product{
    padding: 30px 30px 60px 30px;
    background-color: white;
    width: 80%;
    max-width: 500px;
    color: rgb(0, 0, 41);
}
.product:hover{
    transform: translateY(-10px);
     box-shadow: 0 10px 0px rgb(255, 217, 0); 
}
.image{
    height: 300px;
    border-radius: 12px;
}
.product img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.product h3{
    font-size: 25px;
}
.product a{
    margin-top: -20px;
    margin-left: 2px;
    text-decoration: none;
    color: rgb(0, 0, 41);
}
