body{
    margin: 40px;
    background-color: rgb(0, 0, 41);
    font-family: "Outfit", sans-serif;
    color: white;
}

.section{
    margin: 60px 0;
}
.title-section{
    text-align: center;
}
.title-section h1{
    font-size: 90px;
    margin-bottom: -5px;
}
.title-section h2{
    font-size: 24px;
    color: rgb(255, 217, 0);
}
.main-title{
    display: flex;
    gap: 20px;
    justify-self: center;
}
.main-title img{
    height: 150px;
}
.products-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    width: 100%;
    gap: 20px;
}
